<section class="profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-3 col-3 left">
        <div class="bord">
          <p>Personal Info</p>
          <ul>
            <li >
              <a [routerLink]="['/profile']">
                <img src="../../../../assets/dashboard/name.svg " alt="">
                <span>Profile</span>
              </a>
            </li>
            <li class="active" *ngIf="userRole === 'doctor'">
              <a [routerLink]="['/doctor']" >
                <img src="../../../../assets/dashboard/doctor.svg" alt="">
                <span>Doctor</span>
              </a>
            </li>
            <li *ngIf="userRole === 'doctor'">
              <a [routerLink]="['/clinic']">
                <img src="../../../../assets/dashboard/clinic.svg" alt="">
                <span>Clinic</span>
              </a>
            </li>
          </ul>
          <p>Reservation History</p>
          <ul>
            <li>
              <a [routerLink]="['/myReservations']">
                <img src="../../../../assets/dashboard/myReservations.svg" alt="">
                <span>My Reservations</span>
              </a>
            </li>
            <li *ngIf="userRole === 'doctor'">
              <a [routerLink]="['/clinicReservations']">
                <img src="../../../../assets/dashboard/clinicReservations.svg" alt="">
                <span>Clinic Reservations</span>
              </a>
            </li>
            <li *ngIf="userRole === 'doctor'">
              <a [routerLink]="['/patiantPrescriptions']">
                <img src="../../../../assets/dashboard/patientPrescription.svg" alt="">
                <span>Patiant Prescriptions</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/Prescriptions']">
                <img src="../../../../assets/dashboard/prescriptions.svg" alt="">
                <span>Prescriptions</span>
              </a>
            </li>
          </ul>
          <p *ngIf="userRole === 'doctor'">My Blog Posts</p>
          <ul *ngIf="userRole === 'doctor'">
            <li>
              <a [routerLink]="['/myPost']">
                <img src="../../../../assets/dashboard/myPost.svg" alt="">
                <span>My Post</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-9 col-lg-9 col-sm-9 col-9 right">
        <form [formGroup]="doctorForm">
          <div class="one">
            <label for="">
              <img src="../../../../assets/dashboard/License.svg" alt="">License number
            </label>
            <div class="edit">
              <input type="text" formControlName="license_id" placeholder="2365 2560 6524 2534">
              <img src="../../../../assets/dashboard/edit.svg" alt="">
            </div>
          </div>
          <div class="one">
            <label for="">Specialization</label>
            <div class="edit">
              <select formControlName="specialites" class="form-control test">
                <option *ngFor="let specialization of Spicialations" [value]="specialization.id">
                  {{ specialization.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="one">
            <label for="">Experience</label>
            <div class="edit">
              <input type="number" formControlName="experience" placeholder="5">
              <img src="../../../../assets/dashboard/edit.svg" alt="">
            </div>
          </div>
          <div class="one">
            <label for="">
              <img src="../../../../assets/dashboard/title.svg" alt="">Title
            </label>
            <div class="edit">
              <select  formControlName="title" class="form-control test" >
                <option [value]="item" *ngFor="let item of titles">{{item}}</option>
              </select>
              <img src="../../../../assets/dashboard/edit.svg" alt="">
            </div>
          </div>
          <div class="one">
            <label for="">
              <img src="../../../../assets/dashboard/session.svg" alt="">Session Duration
            </label>
            <div class="edit">
              <select  formControlName="duration" class="form-control test">
                <option [value]="item" *ngFor="let item of durationsList">{{item}}</option>
              </select>
              <img src="../../../../assets/dashboard/edit.svg" alt="">
            </div>
          </div>
          <div class="one">
            <label for="">
              <img src="../../../../assets/dashboard/price.svg" alt="">Prices
            </label>
            <div class="edit">
              <input type="text" formControlName="price" placeholder="100-1000">
              <img src="../../../../assets/dashboard/edit.svg" alt="">
            </div>
          </div>
        </form>
        <form  [formGroup]="doctorForm" action="" class="form-two">
          <div class="two">
            <label for="">
              <img src="../../../../assets/dashboard/about.svg" alt="">About
            </label>
            <div class="edit">
              <textarea formControlName="description" placeholder="Describe yourself"></textarea>
              <img src="../../../../assets/dashboard/edit.svg" alt="">
            </div>
          </div>
        </form>
        <div class="save">
          <button type="submit" (click)="editDoctorProfile()">Save</button>
        </div>
      </div>
    </div>
  </div>
</section>
